html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  text-decoration: none;
}

body {
  background-color: #171717;
  margin: 0;
  font-family: 'DM Sans';
  color: #828282;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #F9F9F9;
}

h2 {
  font-size: 32px;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.cabecalho {
  background-color: #171717;
  position: fixed;
  padding: 20px 0;
  width: 80%;
  max-width: 1200px;
  z-index: 99;
}

.cabecalho nav {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.conteudo-navs {
  display: flex;
  gap: 40px;
}

.cabecalho h3 {
  font-size: 26px;
}

.cabecalho a {
  color: #F9F9F9;
  text-decoration: none;
}

.cabecalho nav a:hover {
  color: #00DF5E;
  transition: .3s;
}

#banner-curriculo {
  border-radius: 50px;
  transform: scaleX(-1);
}

.campo-curriculo {
  display: flex;
  padding: 270px 0;
  justify-content: space-between;
  align-items: center;
}

.campo-curriculo h1 {
  width: 12ch;
  font-size: 36px;
  font-weight: bold;
}

.btns-curriculo {
  display: flex;
  gap: 15px;
  position: relative;
}

#btn-download {
  color: #171717;
  background-color: #00DF5E;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  transition: .2s;
}

#btn-download:hover {
  margin-top: 5px;
  transition: .1s;
}

#btn-contato {
  background-color: #171717;
  color: #F9F9F9;
  border: 1px solid #333333;
  padding: 10px 20px ;
  position: absolute;
  cursor: pointer;
  left: 140px;
  width: 150px;
  transition: .2s;
}

#btn-contato:hover {
  margin-top: 5px;
  transition: .1s;
}

.campo-sobre {
  margin-top: 125px;
}

.conteudo-sobre {
  text-align: center;
  width: 60ch;
  margin: auto;
}

.conteudo-sobre p {
  padding-top: 20px;
  font-size: 1rem;
  line-height: 28px;
}

.bloco-sobre p {
  color: #828282;
}

.bloco-sobre {
  padding: 10px;
  border: 1px solid transparent;
}

.bloco-sobre img {
  width: 32px;
  height: 32px;
  fill: #00DF5E;
}

.bloco-sobre:hover {
  border: 1px solid #00DF5E;
  border-radius: 10px;
  transition: .3s;
}

.conteudo-icons {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.conteudo-icons div {
  text-align: center;
}

.conteudo-icons p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: .8rem;
}

.campo-projetos {
  margin-top: 200px;
}

.campo-projetos h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.conteudo-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: space-around;
}

.conteudo-projetos a {
  color: #828282;
}

.projetos {
  background-color: #212121;
  max-width: 350px;
  height: 240px;
  padding: 20px 40px 0 40px;
  border: 1px solid #333333;
  border-radius: 2px;
}

.projetos:hover {
  border: 1px solid #00DF5E;
  transition: .5s;
}

.projetos p {
  margin: 5px 0;
}

.projetos h4 {
  margin-top: 15px;
}

.projetos img {
  width: 100%;
  height: 130px;
  object-position: center;
  object-fit: cover;
  border: 1px solid #333333;
  border-radius: 2px;
}

.conteudo-btn-todos {
  margin-top: 40px;
  text-align: center;
}

.conteudo-btn-todos button {
  background-color: #171717;
  color: #F9F9F9;
  border: 1px solid #00DF5E;
  padding: 15px 50px;
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
}

.conteudo-btn-todos button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 223, 94, .7);
}

.campo-servicos {
  margin-top: 200px;
}

.campo-servicos h2 {
  margin-bottom: 40px;
  text-align: center;
}

.conteudo-servicos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: space-around;
}

.servicos {
  background-color: #212121;
  max-width: 350px;
  height: 240px;
  padding: 30px 40px 0 40px;
  border-radius: 2px;
  border: 1px solid #333333;
  border-bottom: 3px solid #00DF5E;
}

.campo-skills {
  margin-top: 200px;
  margin-bottom: 200px;
  
}

.campo-skills h2 {
  text-align: center;
  margin-bottom: 40px;
}

.conteudo-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 30px;
  justify-items: center;
}

.skills {
  background-color: #212121;
  padding: 20px 0 10px;
  max-width: 150px;
  width: 150px;
  border-radius: 2px;
  transition: .3s;
  border: 1px solid transparent;
}

.skills:hover {
  border: 1px solid #00DF5E;
  transition: .3s;
}

.banco-svg, .bootstrap-svg, .git-svg {
  width: 80px;
  height: 80px;
}

.rodape {
  background-color: #212121;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}

@media screen and (max-width: 1350px) {
  .conteudo-skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1040px) {
  .conteudo-projetos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 810px) {
  .conteudo-sobre {
    width: auto;
  }
  .campo-curriculo {
    display: block;
  }
  #banner-curriculo {
    display: none;
  }
  .conteudo-servicos {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .servicos {
    width: 75%;
    height: 150px;
  }
}

@media screen and (max-width: 660px) {
  .conteudo-skills {
    grid-template-columns: 1fr 1fr;
  }
  .conteudo-icons {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  .campo-curriculo {
    padding: 180px 0 250px 0;
  }
  .conteudo-projetos {
    grid-template-columns: 1fr;
  }
  .campo-projetos {
    margin-top: 100px;
  }
  .campo-servicos {
    margin-top: 150px;
  }
  .campo-skills {
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .skills {
    width: 120px;
  }
  .cabecalho {
    display: none;
  }
}












