body {
  background-color: #171717;
  margin: 0;
  font-family: 'DM Sans';
  color: #828282;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #F9F9F9;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

.cabecalho {
  display: flex;
  align-items: center;
  color: #F9F9F9;
  justify-content: space-between;
  margin-top: 30px;
}

.cabecalho h3 {
  font-size: 26px;
}

.cabecalho a {
  color: #F9F9F9;
  text-decoration: none;
}

.cabecalho nav a:hover {
  color: #00DF5E;
  transition: .3s;
}

.cabecalho nav {
  display: flex;
  gap: 50px;
}

#banner-curriculo {
  border-radius: 50px;
  transform: scaleX(-1);
}

.campo-curriculo {
  display: flex;
  padding: 270px 0;
  justify-content: space-between;
  align-items: center;
}

.campo-curriculo h1 {
  width: 12ch;
  font-size: 36px;
  font-weight: bold;
}

.btns-curriculo {
  display: flex;
  gap: 15px;
  position: relative;
}

#btn-download {
  color: #171717;
  background-color: #00DF5E;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  transition: .2s;
}

#btn-download:hover {
  margin-top: 5px;
  transition: .2s;
}

#btn-contato {
  background-color: #171717;
  color: #F9F9F9;
  border: 1px solid #333333;
  padding: 10px 20px ;
  position: absolute;
  cursor: pointer;
  right: 0;
  transition: .2s;
}

#btn-contato:hover {
  margin-top: 5px;
  transition: .2s;
}

.campo-sobre {
  margin-top: 125px;
}

.conteudo-sobre {
  text-align: center;
  width: 60ch;
  margin: auto;
}

.conteudo-sobre p {
  padding-top: 20px;
  font-size: 1rem;
  line-height: 28px;
}

.conteudo-icons {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.conteudo-icons div {
  text-align: center;
}

.conteudo-icons p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: .8rem;
}

.campo-projetos {
  margin-top: 200px;
}